@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

body {
	background: var(--ctp-mocha-base);
	color: var(--ctp-mocha-text);
	font-family: sans;
	padding: 2em;
	text-size: 18px;
}

::selection {
	background: #7c7f93cc;
}

.MathJax ::selection {
	background: none;
	color: var(--ctp-mocha-lavender);
	text-shadow: 0 0 2px var(--ctp-mocha-lavender);
}

h1 {
	text-align: center;
}

h1, h2 {
	text-shadow: 0 0 5px #000;
}

a {
	color: var(--ctp-mocha-blue);
	text-decoration: none;
}

a:hover {
	color: var(--ctp-mocha-sky);
}

.box {
	background: var(--ctp-mocha-mantle);
	box-shadow: 0 0 10px black;
	padding: 2em;
}

svg {
	display: block;
    margin: auto;
}
