/* Catpuccin Mocha theme */

:root {
	--base: #1e1e2e;
	--blue: #89b4fa;
	--lavender: #b4befe;
	--mantle: #181825;
	--selection: #9399b2cc;
	--text: #cdd6f4;
}

body {
	background: var(--base);
	color: var(--text);
	font-family: sans;
	padding: 2em;
	text-size: 18px;
}

::selection {
	background: var(--selection);
}

.MathJax ::selection {
	background: none;
	color: var(--lavender);
	text-shadow: 0 0 2px var(--lavender);
}

h1 {
	text-align: center;
}

h1, h2 {
	text-shadow: 0 0 5px #000;
}

a {
	color: var(--blue);
	text-decoration: underline;
}

a:hover {
	color: var(--text);
}

.box {
	background: var(--mantle);
	box-shadow: 0 0 10px black;
	padding: 2em;
}
